.outer {
}
@media (min-width: 768px) {
  .outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}

.imgWrap--large {
  width: 325px;
  overflow: hidden;
  border-radius: 8px;
}
@media (min-width: 768px) {
  .imgWrap--large {
    width: 600px;
    height: 337.5px;
    overflow: hidden;
  }
}
.img--large {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
